/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  /* Add your header styles here */
.titre {

  text-align: center;
  border : 2px;
  background-color: orange;
 margin :20px;
 padding: 20px;
  
}
  /* Add your hero section styles here */

  /* Add your about section styles here */

  /* Add your projects section styles here */

  /* Add your contact form styles here */

  /* Add your footer styles here */

  /* Add your responsive design styles here */