/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  /* Add your header styles here */
.titre {

  text-align: center;
  border : 2px;
  background-color: orange;
 margin :20px;
 padding: 20px;
  
}
#btn {
  color : orange;
  padding: 5px;
  background-color: white;
  border-color:white;
  margin: 10px;
}
#h2{
text-align: center;
}
.projects{
  text-align: center;
  padding-top: 50px;
}
.flex-container{
  display: flex;
   gap: 200 px;
}
.box{
  border: solid 10px transparent;
  text-align: center;
line-height: 1.2;
  padding: 20px;
  flex:1
}

.wps {
padding-top: 20px;
padding-bottom: 40px;
text-align: center;
background-color: #f2f2f2;
}
.circle {

  width:100px;
  height :100px;
background-color: lightgray;
border-radius: 50%;
margin:0 auto;
}
.italic{
font-style: italic;
}
.bold{
  font-weight: bold;
}
.cm{
  text-align: center;
}
#name{

padding: 5px;
}
#email{
padding: 5px;
}
#message{
height: 100px;
padding: 5px;

}
  /* Add your hero section styles here */

  /* Add your about section styles here */

  /* Add your projects section styles here */

  /* Add your contact form styles here */

  /* Add your footer styles here */

  /* Add your responsive design styles here */